/*font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* Header */
header {
    color: white;
    background: rgb(39, 176, 110);
    padding: 20px 0;
}

/* Main */
main {
    padding: 20px 0;
}

/* Footer */
footer {
    color: white;
    background:  rgb(39, 176, 110);
    padding: 20px 0;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    header h2 {
        float: left;
        font-size: 2rem;
    }
}

/*Btn*/
button{
    display: block;
    background:  rgb(39, 176, 110);
    color: white;
    border: none;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.3;
}

button:hover {
    background: #F4D03F;
}

/* Common */
.clearfix:after {
    clear: both;
    content: " ";
    display: table;
}

.wrapper {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.wrapper_box{
    margin: 20px 0;
}

h1, h2, h3, p {
    margin: 0;
}

* {
    box-sizing: border-box;
}
