/*base*/
/*font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* Header */
header {
    color: white;
    background: rgb(39, 176, 110);
    padding: 20px 0;
}

/* Main */
main {
    padding: 20px 0;
}

/* Footer */
footer {
    color: white;
    background:  rgb(39, 176, 110);
    padding: 20px 0;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    header h2 {
        float: left;
        font-size: 2rem;
    }
}

/*Btn*/
button{
    display: block;
    background:  rgb(39, 176, 110);
    color: white;
    border: none;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.3;
}

button:hover {
    background: #F4D03F;
}

/* Common */
.clearfix:after {
    clear: both;
    content: " ";
    display: table;
}

.wrapper {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.wrapper_box{
    margin: 20px 0;
}

h1, h2, h3, p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*---------------------------------------*/

/*Main*/
h3{
    color: rgb(39, 176, 110);
    padding-bottom: 7px;
    border-bottom: solid;
    margin-bottom: 10px;
}

input, select{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 3px 0;
}

fieldset{
    border-color: rgb(39, 176, 110);
    padding: 10px;
    margin: 20px 0;
}

#notice{
    text-align: center;
}

hr{
    border : 0px;
    border-top: 2px dashed gray;
    width: 41%;
    float: left;
}

.submissionBtn{
    margin: 0 auto;
}

.addBtn{
    display: inline;
    float: right;
    margin-right: 5px;
}