/*테이블*/
table {border-collapse: collapse;}
table thead th {height: 45px; border: 1.8px solid #27B06E; text-align: center; font-size: 18px;}
table tr td {line-height: 28px; padding: 18px 20px; border: 1.8px #27B06E; }
table tr td.tbSum {height: 80px; border-style: solid solid dashed solid; font-weight: bold;}
table tr td.tbTime {height: 50px; border-style: none solid solid solid; padding-bottom: 25px;}
table tr td.tbTime .tbTitle {font-weight: bold; text-decoration: underline; height: 35px;}
table tr td.tbTime .tbSub {font-weight: bold; padding-top: 15px;}
table tr .today {background-color: #E2F0D9;}
table tr .highlight {color: #27B06E;}